$bp-desktop: 1200px;
$bp-ipad: 1024px;
$bp-iphone: 568px;

@media (max-width: $bp-ipad) {
  .no-mobile {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

@media (min-width: $bp-ipad) {
  .no-mobile {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}