@import "colours";

.btn {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s;

  &.btn--block {
    display: block;
  }

  &.btn--shnappy {
    &:hover {
      background: white;
      color: $shnappy;
    }
  }

  &.btn--quizblaster {
    &:hover {
      background: white;
      color: $qb;
    }
  }

  &.btn--hooq {
    &:hover {
      background: white;
      color: $hooq;
    }
  }

  &.btn--siteshot {
    &:hover {
      background: white;
      color: $siteshot;
    }
  }

  &.btn--green {
    background: $success-green;
  }
}