@import "colours";
@import "breakpoints";

.logo {
  text-indent: -9999px;
  background: no-repeat;
  background-size: contain;

  span {
    text-indent: 0;
  }

  &.logo--text {
    text-indent: 0;
  }

  &.logo--quizblaster {
    background-image: url(/img/quizblaster/logo.png);
    margin-bottom: 10px;
    height: 47px;

    @media(max-width: $bp-iphone) {
      margin: 10px auto;
      width: 74%;
    }
  }

  &.logo--shnappy {
    font-family: 'Asap', sans-serif !important;
  }

  &.logo--hooq {
    margin-bottom: 10px;
    background-image: url(/img/hooq/logo.png);

    @media(max-width: $bp-iphone) {
      margin: 10px auto;
      width: 36%;
    }
  }

  &.logo--siteshot {
    background-image: url(/img/siteshot/logo.png);
    margin-bottom: 10px;

    @media(max-width: $bp-iphone) {
      margin: 10px auto;
      width: 35%;
    }
  }

  &.logo--appmechanix {
    background-image: url(/img/logo.png);
    background-size: cover;
    height: 179px;
    width: 400px;
    margin: 10px auto;
    position: relative;
    left: -17px;

    @media(max-width: $bp-iphone) {
      width: 350px;
      height: 150px;
      left: -10px;
      top: 50px;
    }
  }
}