@import "colours";

.panel {
  width: 100%;
  border-bottom: 2px solid white;
  padding-top: 100px;
  padding-bottom: 100px;

  h3, h4 {
    color: white;
  }

  h3 {
    font-size: 32px;
    padding-bottom: 20px;

  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
    text-align: center;

    &.title--topborder {
      $spacing: 20px;

      border-top: 1px solid #efefef;
      margin-top: $spacing;
      padding-top: $spacing;
    }
  }

  p {
    color: white;
    margin-top: 20px;
  }

  img {
    max-width: 100%;
  }

  &.panel--hero {
    background: white url(/img/hero.jpg) no-repeat center;
    background-size: cover;

    h1 {
      text-align: center;
      font-size: 48px;
    }

    h2 {
      text-align: center;
      font-size: 32px;
    }
  }

  &.panel--about {
    background: white;

    p {
      margin-top: 0;
      color: #333;
    }
  }

  &.panel--shnappy {
    background: radial-gradient(at bottom, $shnappy + 100, $shnappy 80%);
  }

  &.panel--quizblaster {
    background: radial-gradient(at bottom, $qb + 100, $qb 80%);

    img {
      max-width: 90%;
      padding-left: 5%;
    }
  }

  &.panel--hooq {
    background: radial-gradient(at bottom, $hooq + 100, $hooq 80%);
  }

  &.panel--siteshot {
    background: radial-gradient(at bottom, $siteshot + 100, $siteshot 80%);
  }
}