@import "colours";
@import "breakpoints";

.panel {
  width: 100%;
  border-bottom: 2px solid white;
  padding-top: 25px;
  padding-bottom: 50px;
  overflow-x: hidden;

  @media(min-width: $bp-iphone) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .mobile-only {
    text-align: center;
  }

  .panel-screenshot {
    width: 100%;

    @media(min-width: $bp-iphone) {
      float: left;
      width: 60%;
    }

    img {
      min-width: 90%;
      max-width: 90%;
      position: relative;
      left: -10%;
      opacity: 0;
    }

    &.panel-screenshot--right {
      float: right;
      text-align: right;

      img {
        left: 10%;
      }
    }
  }

  .panel-text {
    width: 100%;

    @media(min-width: $bp-iphone) {
      float: left;
      width: 40%;
    }
  }

  .panel-screenshot--mobileonly {
    display: none;
    text-align: center;

    @media(max-width: $bp-iphone) {
      display: block;
    }
  }

  .panel-screenshot--nomobile {
    display: none;
    text-align: left;

    @media(min-width: $bp-iphone) {
      display: block;
    }
  }

  @media(min-width: $bp-iphone) {
    .appscreenshot {
      margin-bottom: 20px;
    }
  }

  h3, h4 {
    color: white;

    @media(max-width: $bp-ipad) {
      text-align: center;
    }
  }

  h3 {
    font-size: 32px;
    padding-bottom: 20px;

  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
    text-align: center;

    &.title--topborder {
      $spacing: 20px;

      border-top: 1px solid #efefef;
      margin-top: $spacing;
      padding-top: $spacing;
    }
  }

  h3.commingsoon {
    position: relative;

    span {
      position: absolute;
      font-size: 12px;
      font-weight: 100;
      left: 0;
      top: -25px;
      opacity: 0.6;

      @media(max-width: $bp-iphone) {
        left: 20px;
        top: -280px;
      }
    }
  }

  p {
    color: white;
    margin-top: 20px;
    font-size: 15px;
  }

  &.panel--hero {
    background: white url(/img/hero.jpg) no-repeat top center;
    background-size: cover;
    height: 300px;

    h1 {
      text-align: center;
      font-size: 48px;
      color: white;
    }

    h2 {
      text-align: center;
      font-size: 32px;
      color: white;
    }
  }

  &.panel--about {
    background: white;

    p {
      margin-top: 0;
      color: #333;
      font-size: 18px;
    }
  }

  &.panel--shnappy {
    background: radial-gradient(at bottom, $shnappy + 100, $shnappy 80%);

    ::selection {
      color: #ffffff;
      background: $shnappy;
    }

    .panel-screenshot {
      margin-top: 50px;
    }
  }

  &.panel--quizblaster {
    background: radial-gradient(at bottom, $qb + 100, $qb 80%);

    ::selection {
      color: #ffffff;
      background: $qb;
    }

    h4 {
      font-size: 27px;
    }
  }

  &.panel--hooq {
    background: radial-gradient(at bottom, $hooq + 60, $hooq 80%);

    ::selection {
      color: #ffffff;
      background: $hooq;
    }
  }

  &.panel--siteshot {
    background: radial-gradient(at bottom, $siteshot + 100, $siteshot 80%);

    ::selection {
      color: #ffffff;
      background: $siteshot;
    }
  }

  .panel--screenshot {
    text-align: center;
  }
}