@import "reset";
@import "colours";

* {
  font-family: 'Roboto', sans-serif !important;
}

::selection {
  color: #ffffff;
  background: $qb;
  /* WebKit/Blink Browsers */
}

body {
  background: white;
}

p {
  line-height: 150%;
}

.container {
  max-width: 820px;
  margin: 0 auto;
}

.text--commingsoon {
  text-align: center;
  font-weight: bold;
}

@import "panel";
@import "buttons";
@import "contact";
@import "footer";
