/* LAYOUT */
$container-width: 1024px;             /* The inner width of the site */

/* LINKS */
$link-text-color: #f87c45;            /* The standard color to use for links throughout the site */
$link-text-color-hover: #000000;      /* The standard hover color to use for links throughout the site */
$link-text-weight: 400;               /* The weight to use for links throughout the site */
$link-transition-speed: 0.5s;         /* The speed at which to transition from normal to hover state */
$link-underline: false;               /* The standard underline property to use for links throughout the site */

/* TEXT */
$normal-text-size: 20px;              /* Standard text size for content */
$section-title-text-size: 32px;       /* Size of standard titles */
$section-subtitle-text-size: 28px;    /* Size of standard sub-titles */

/* HERO */
$hero-background-image: 'https://ununsplash.imgix.net/41/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg?q=75&fm=jpg&s=0b03a0a8951359c023cd69af1d325afc';
$hero-font-color: #ffffff;
$hero-brand-font-size: 24px;
$hero-brand-uppercase: true;
$hero-cta-background: #f87c45;
$hero-cta-text-color: #ffffff;

/* BANNER */
$banner-background-color: #6abbd9;
$banner-text-color: #ffffff;

/* LOVED BY */
$loved-background-image: 'https://unsplash.imgix.net/uploads/14120938606568dde6e2b/c9e42240?q=75&fm=jpg&s=30cfed70f59bbfce34b374e629bb5f84';
$loved-font-size: 20px;
$loved-italic-font: true;
$loved-image-size: 80px;
$loved-block-padding: 60px;

/* SIGN UP */
$signup-title-color: $link-text-color;
$signup-divider-background: #ffffff;
$signup-plan-padding: 30px;
$signup-line-thickness: 2px;
$signup-price-size: 80px;
$signup-details-border-color: #999;

$signup-basic-background: #424a56;
$signup-basic-text-color: #ffffff;

$signup-standard-background: #f87c45;
$signup-standard-text-color: #ffffff;

$signup-premium-background: #6abbd9;
$signup-premium-text-color: #ffffff;

/* CONTACT */