/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
/* line 6, ../../_sass/_partials/forms.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}
/* line 12, ../../_sass/_partials/forms.scss */
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
/* line 25, ../../_sass/_partials/forms.scss */
.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

/* line 32, ../../_sass/_partials/forms.scss */
a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}
