@import '../config';

header {
  margin: 0;
  background: url($hero-background-image) no-repeat fixed;
  background-size: cover;

  h1 {
    margin: 0;
    padding-top: 20px;
    color: $hero-font-color;
    font-weight: 700;
    font-size: $hero-brand-font-size;

    @if ($hero-brand-uppercase) {
      text-transform: uppercase;
    }
  }

  h2 {
    margin: 0;
    text-align: center;
    color: $hero-font-color;
    font-weight: 900;
    font-size: 60px;
    text-shadow: #666 1px 1px;
  }

  h3 {
    margin: 0;
    text-align: center;
    color: $hero-font-color;
    font-weight: 900;
    font-size: 30px;
    text-shadow: #666 1px 1px;
  }

  .cta {
    background: $hero-cta-background;
    color: $hero-cta-text-color;
    font-size: 24px;
    margin-top: 20px;
  }

  .v-center {
    position: absolute;
    left: 0;
    right: 0;
  }
}