<!DOCTYPE html>
<html>

  {% include head.html %}

	<body data-spy="scroll" data-offset="0" data-target="#theMenu" class="{{class}}">

    {% include header.html %}

	<div class="fadeinbody">
        {{ content }}
    </div>

    {% include footer.html %}


	<script src="/js/classie.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/smoothscroll.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/fancybox/jquery.fancybox.js"></script>
	<script src="/bower_components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js"></script>
	<script src="/bower_components/ScrollMagic/js/_dependent/greensock/plugins/ScrollToPlugin.min.js"></script>
	<script src="/bower_components/ScrollMagic/js/jquery.scrollmagic.min.js"></script>

	<script src="/js/main.js"></script>
	<script>
		$(function () {
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 400
			});
		});
	</script>

	<script type="text/javascript">
		$(function () {
			//    fancybox
			jQuery(".fancybox").fancybox();


			$('.fadeinbody').addClass('show')
		});
	</script>


	<noscript>Please turn JS on. Just do it.</noscript>	
	
  </body>

</html>
